<!-- Mobile View -->
<div class="side-nav-container">
  <div class={{getMenuContainerClass()}}>
    <div class={{getMenuClass()}}>
      <i class="gg-close-o" (click)="toggleMenuOpen()"></i>
      <ul>
        <li class="top-nav-menu-item" *ngFor="let item of menuItems" [routerLink]="[item.route]">{{item.title}}</li>
      </ul>
    </div>
  </div>

  <button class="side-nav-button" (click)="toggleMenuOpen()">
    <i class="gg-menu-right"></i>
  </button>
</div>

<!-- Desktop View -->
<div class="top-nav-container">
  <ul class="top-nav-menu-item-container">
    <li class="top-nav-menu-item" *ngFor="let item of menuItems" [routerLink]="[item.route]">{{item.title}}</li>
  </ul>
</div>
