@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

.tabs-holder {
  background-color: #CFD6EA;
}

.tabs-container {
  text-align: center;
  padding: 25px 0px 0px 0px;
  margin: 0px 10px;
  height: 45px;
  background-color: #CFD6EA;
  border-bottom: black solid 3px;
}

.tab-item {
  list-style: none;
  display: inline;
  padding: 20px;
  margin: 5px;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-item:hover {
  cursor: pointer;
}

.focused-tab {
  background-color: #4F5D2F;
  color: white;
}

.focused-tab:hover {
  background-color: #4f5d2fa6;
}

.unfocused-tab {
  background-color: #b0b2b89c;
}

.unfocused-tab:hover {
  background-color: #b0b2b8;
}
