<section class="ex-grid">
  <h3 class="trending-title">Trending on compx...</h3>
  <div class="ex-item-container">
    <div class="ex-item">
      <img src="../../assets/icons/banana.png" alt="banana" class="item-icon">
      <h6 class="item-name">Banana Scraps</h6>
      <p class="item-ex-val">$4.05 per lb.</p>
        <i class="gg-arrow-up"></i>
        <p class="change-perc">20.00%</p>
    </div>
    <div class="ex-item"></div>
    <div class="ex-item"></div>
    <div class="ex-item"></div>
  </div>
</section>