@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

.ex-grid {
  background-color: #CFD6EA;
  text-align: center;
  padding-bottom: 50px;
}

.trending-title {
  margin: 0px;
  font-family: 'Signika Negative', sans-serif;
  font-size: 25px;
  color: #423629;
}

.ex-item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  justify-content: space-around;
}

.ex-item {
  display: inline-flexbox;
  background-color: white;
  height: 150px;
  width: 150px;
  margin: 12px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 25%) 0px 8px 24px;
}