@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

// Base variables
$logo-font: 'DynaPuff', cursive;
$text-font: 'Signika Negative', sans-serif;
$compx-bg-color: #CFD6EA;
