@use '../../../../shared/scss/base';

.compost-pile-divider {
  background-color: base.$compx-bg-color;
  margin-top: -40px;
}

.compost-image {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .compost-pile-divider {
    margin-top: -300px;
  }
}