@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://css.gg/arrow-up.css');
@import url('https://css.gg/arrow-down.css');

.ex-grid {
  background-color: #CFD6EA;
  text-align: center;
  width: 100%;
}

.list-page-title {
  margin-top: 0px;
  padding-top:10px;
  font-family: 'Signika Negative', sans-serif;
  font-size: 25px;
  color: #423629;
}

.hide {
  display: none;
}

.ex-item {
  display: inline-flex;
  background-color: white;
  height: 75px;
  margin: 0px 0px;
  width: 100%;
}

.compx-item {
  margin: auto 5px;
}

.item-icon {
  height: 40px;
}

.item-name {
  font-family: 'Signika Negative', sans-serif;
  font-size: 15px;
}

.item-ex-val {
  font-size: 15px;
  color: #423629;
}

.arrow-up {
  display: inline-flex;
  vertical-align: middle;
  color: green;
  /* margin-bottom: 3px; */
}

.arrow-down {
  display: inline-flex;
  vertical-align: bottom;
  color: red;
  /* margin-bottom: 3px; */
}

.change-perc {
  display: inline-flex;
  font-size: 20px;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}
