@import url('https://css.gg/menu-right.css');
@import url('https://css.gg/close-o.css');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

ul {
  list-style: none;
  margin-top: 0px;
}

li {
  margin: 10px 20px;
}

.show-menu-container {
  visibility: visible !important;
  opacity: 1 !important;
}

.side-menu-container {
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.322);
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.show-side-menu {
  right: 0 !important;
  visibility: visible !important;
  transition: all .6s ease-in-out, visibility 0s .2s;
}

.side-menu {
  position: fixed;
  text-align: right;
  background: white;
  height: 100vh;
  width: 270px;
  padding-top: 20px;
  right: -250px;
  transition: all .6s ease-in-out, visibility 0s .2s;
  visibility: hidden;
}

.side-nav-container {
  display: flex;
}

.side-nav-button {
  border: none;
  background-color: transparent;
  margin: 30px 20px 0px auto;
  z-index: 1;
  position: absolute;
  right: 0;
}

.gg-menu-right, .gg-menu-right::before, .gg-menu-right::after {
  height: 4px;
}

.gg-menu-right {
  width: 28px;
}

.gg-menu-right::before {
  top: -8px;
  width: 15px;
}

.gg-menu-right::after {
  top: 8px;
  width: 19px;
}

.gg-close-o {
  margin: 0px 25px 30px auto;
  transform: scale(var(--ggs, 1.5));
}

.top-nav-menu-item-container {
  text-align: center;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #CFD6EA;
}

.top-nav-menu-item {
  display: inline-flex;
  color: #423629;
  font-family: 'Signika Negative', sans-serif;
  font-size: 30px;
}

.top-nav-menu-item:hover {
  cursor: pointer;
  color: #7D7E75;
}

@media screen and (min-width: 1025px) {
  .side-nav-container {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .top-nav-container {
    display: none;
  }
}