@import url('https://css.gg/menu-right.css');
@import url('https://css.gg/close-o.css');

ul {
  list-style: none;
  margin-top: 0px;
}

.hide-element {
  display: none;
}

.side-menu-container {
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.322);
}

.side-menu {
  text-align: right;
  background: white;
  height: 100vh;
  margin-left: 100px;
  padding-top: 20px;
}

.side-nav-button-container {
  display: flex;
}

.side-nav-button {
  border: none;
  background-color: transparent;
  margin: 30px 20px 0px auto;
  z-index: 1;
  position: absolute;
  right: 0;
}

.gg-menu-right, .gg-menu-right::before, .gg-menu-right::after {
  height: 4px;
}

.gg-menu-right {
  width: 28px;
}

.gg-menu-right::before {
  top: -8px;
  width: 15px;
}

.gg-menu-right::after {
  top: 8px;
  width: 19px;
}

.gg-close-o {
  margin: 0px 25px 10px auto;
  transform: scale(var(--ggs, 1.5));
}