@import url('https://css.gg/menu-right.css');

.side-nav-button-container {
  display: flex;
}

.side-nav-button {
  border: none;
  background-color: transparent;
  margin: 30px 20px 0px auto;
}

.gg-menu-right, .gg-menu-right::before, .gg-menu-right::after {
  height: 4px;
}

.gg-menu-right {
  width: 28px;
}

.gg-menu-right::before {
  top: -8px;
  width: 15px;
}

.gg-menu-right::after {
  top: 8px;
  width: 19px;
}